langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
chromadb
sentence-transformers
pypdf
python-dotenv
unstructured
python-docx
docx2txt
pysqlite3
matplotlib
langchain-huggingface
qdrant-client
rank_bm25
groq
langchain-ollama
langgraph-checkpoint-sqlite
fastapi
uvicorn
python-multipart
langgraph
google-cloud-translate
langgraph-checkpoint-postgres
psycopg[binary,pool]
